<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="com._1c.g5.v8.dt.bsl.externalBslValidator">
		<externalValidator
			class="ru.capralow.dt.bslls.validator.plugin.internal.ui.ExecutableExtensionFactory:ru.capralow.dt.bslls.validator.plugin.internal.ui.BslValidator">
		</externalValidator>
	</extension>

	<extension point="com._1c.g5.v8.dt.bsl.ui.externalQuickfixProvider">
		<externalQuickfixProvider
			class="ru.capralow.dt.bslls.validator.plugin.internal.ui.BslQuickFix">
		</externalQuickfixProvider>
	</extension>
</plugin>